// COLORS
//  ============================= *
    $accent1  : hsl(305, 98%, 24%);
    $accent2  : hsla(253, 35%, 61%, 0.25);
    $accent3  : #b9dadf;
    $black    : hsl(0, 6%, 0%);
    $dark-font: #000;
    $gray     : #4c4c4c;
    $transparentGray: hsla(0, 0%, 30%, 0.0784313725490196);
    $white    : hsl(0, 0%, 96%);


/* GLOBAL SETTINGS
    =============================  */
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    button {
        text-transform: capitalize;

        &:before {
            display: none;
        }
        &:focus,
        &:hover,
        &:active {
            background: none;
            background-color: $accent1 !important;
            color: $white;
        }

        &:focus > h2,
        &:hover > h2,
        &:active > h2 {
            color: $white;
            text-shadow: 1px 1px 2px $black, 0 0 25px $accent2, 0 0 5px $accent1
        }
        &[type="roll"],
        &[type="action"] {
            background-color: $white;
            border: {
                bottom             : 0.01em solid #666;
                bottom-right-radius: 0.01em;
                color              : hsl(0, 0%, 70%);
                radius             : 0.25em;
                right              : 0.02em solid hsl(0, 0%, 20%);
                style              : outset;
            }
            margin: 0em !important;
            padding: 0.1em;
            width: 100%;
        }
    }

    div {
        background-color: transparent;
        width: 100%;
    }

    fieldset {
        background-color: transparent;
    }

    h1, h2, h3 {
        text-transform: capitalize;
    }

    h1 {
        color: $gray;
    }

    h2 {
        font-size: 1em;
        line-height: 1.4em;
    }

    h3 {
        font-size: 1.25em;
        line-height: 36px;
    }

    input {
        &[type="text"],
        &[type="number"] {
            //-background-color: transparent;
            background-color: $accent3; //-temproary color

            border: {
                left  : 0em;
                radius: 0em;
                right : 0em;
                top   : 0em;
            };
            height: 2.1em;
            width: 100%;
        }
        &::placeholder {
            background-color: $accent2;
            border: 0.1em dotted $accent1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type='number'] {
            text-align: center;
        }
    }

    label {
        margin-bottom: 0px;
        padding-right: 0px;
    }

    select {
        width: 100%;
    }

    span {
        word-break: break-word;
    }

    textarea {
        text-align: left;
        border-bottom : 0.2em dotted $accent3;
        font-size     : 12px;
        font-weight   : normal;
        height        : 50px;
        line-height   : 18px;
        overflow      : hidden;
        overflow-wrap : break-word;
        padding       : 2px;
        resize        : vertical;
        vertical-align: top;
        white-space   : pre-line;
    }

    .charsheet {
        min-width: 850px;
    }

/* HIDE DIFFERENT SHEET TYPES BY DEFAULT
   ============================= */ 
    div.sheet-npc,
    div.sheet-pc {
        display: none;
    }   

    input.sheet-type[value="npc"] ~  div.sheet-npc,
    input.sheet-type[value="character"] ~  div.sheet-pc {
        display: block;
    }   

/* GRID
   ============================= */ 
    div.sheet-grid {
        display        : inline-grid;
        grid-column-gap: 0.5%;
        grid-row-gap   : 0.5%;
    }


/* GENERIC CLASSES
    ============================= */
    div.sheet-background {
        background-color: $transparentGray;
    }

    .sheet-border {
        border: 0.15em solid $gray;
    }

    .sheet-border-bottom {
        border-bottom: 0.15em solid $black;
    }

    .sheet-pictos {
        font-family: "pictos";
    }

/* PC SHEET
    ============================= */

div.sheet-character-info {
    grid-template-columns: 20% 1fr;
    margin-bottom: 1%;

    img {
        grid-area: 1 / 1 / 2 / 1;
    }

    div.sheet-character-names {
        grid-area: 1 / 2 / 1 / 2;
        grid-template-columns: 1fr 1fr;

        input[name='attr_player_name'] {
            text-align: right;
        }
    }

    div.sheet-class-level {
        grid-area: 2 / 2 / 2 / 2;
        grid-template-columns: 1fr 10%;

        div.sheet-border-bottom {
            grid-area: 1 / 3;
        }
    }

    div.sheet-race-background {
        grid-area: 3 / 1 / 3 / 3;
        grid-template-columns: 20% 2fr 1fr 10%;
    }

    div.sheet-border-bottom {
        grid-column: 1 / 5;
    }
}

div.sheet-inspiration-row {
    grid-template-columns: 1fr 2fr 2fr 5fr 3fr 4fr;
    margin-bottom: 1%;

    h1 {
        font-size: 1em;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    div.sheet-header {
        border-bottom: 0.15em solid $black;
    }

    div.sheet-hit-points,
    div.sheet-hit-dice {
        h2 {
            grid-row: 2;

            &[data-i18n='max'] {
                grid-column: 3;
            }
        }

        span {
            font-size: 2em;
            text-align: center;
        }
    }

    div.sheet-hit-points {
        div.sheet-header {
            grid-area: 1 / 1 / 1 / 6;
        }

        div.sheet-body {
            grid-template-columns: 2fr 1fr;
        }

        input {
            grid-row: 2;
        }

        div.sheet-current {
            border-right: 0.15em solid $black;
            grid-template-columns: 2fr 0.5fr 2fr;

            h2[data-i18n='temp'] {
                grid-column: 3;
            }
        }
    }

    div.sheet-hit-dice {
        div.sheet-header {
            grid-template-columns: 2fr 1fr;
        }

        div.sheet-body {
            grid-template-columns: 2fr 0.5fr 2fr;
        }
    }

    div.sheet-death-saves {
        h2 {
            margin-left: 5%;
            text-align: left;
        }

        div.sheet-body {
            grid-template-columns: 1fr 2fr;

            div.sheet-grid {
               grid-template-columns: 1fr 1fr 1fr;
               grid-row-gap: 2%;

               label {
                    grid-row: 1;
                    margin-top: 5%;

                    @for $i from 1 to 4 {
                        &:nth-of-type(#{$i}) {
                            grid-column: $i;
                        }
                    }
                }

                input {
                    margin-left: 40%;
                }
            }

            div.sheet-line {
                background-color: $black;
                grid-area: 1 / 1 / 1 / 4;
                height: 5px;
                position: relative;
                top: 48%;
                width: 100%;
                z-index: -1;
            }
        }
    }
}

div.sheet-main-body {
    div.sheet-column {
        display: inline-block;
        vertical-align: top;

        //- ABILITY SCORE COLUMN
        &:nth-of-type(1) {
            width: 15%;
        }

        //- SKILLS COLUMN
        &:nth-of-type(2) {
            width: 40%;
        }


        //- EVERYTHING ELSE
        &:nth-of-type(3) {
            width: 30%;
        }
    }

    div.sheet-ability {
        div.sheet-border {
            grid-template-columns: 1fr 3fr 2fr;
            margin-bottom: 2%;

            div.sheet-score {
                grid-template-columns: 1fr 2fr;

                input {
                    text-align: center;
                }

                label[data-i18n-title*='score'] {
                    grid-area:  2 / 1 / 2 / 2;

                    position: relative;
                    z-index: 2;
                    height: 30px;
                    width: 35px;

                    & > input {
                        border-radius: 30px;
                        border: 2px solid $black;
                        font-size: 1em;
                        min-height: 30px;
                        min-width: 30px;
                    }
                }

                label[data-i18n-title*='modifier'] {
                    grid-area:  1 / 1 / 3 / 3;

                    & >  input {
                        min-height: 80px;
                        font-size: 2em;
                    }
                }
            }

            div.sheet-saves {
                 grid-template-columns: 1fr 3fr 2fr;
            }
        }
    }

    div.sheet-speed-perception {
        grid-template-columns: 13% 1fr 13% 1fr;

        h1 {
            font-size: 1em;

            &[data-i18n='walking speed'] {
               grid-area: 1 / 2 / 1 / 3;  
            }

            &[data-i18n='passive perception'] {
               grid-area: 1 / 4 / 1 / 4;  
            }
        }

        label {
            input {
                border: 2px solid $black;
                border-radius: 3.5em;
                height: 3.5em;
                width: 3.5em;
            }

            &[data-i18n='walking speed'] {
               grid-area: 1 / 1 / 1 / 2;  
            }

            &[data-i18n='passive perception'] {
               grid-area: 1 / 2 / 1 / 3;  
            }
        }
    }

    div.sheet-skills {
        button {
            text-align: left;
        }
        
        div.sheet-headers {
            grid-template-columns: 2em 60% 3fr 2fr;

            h2 {
                text-transform: capitalize;
            }
        }

        div.sheet-list {
            div.sheet-rows {
                grid-template-columns: 2em 60% 3fr 2fr;
            }

            input {
                text-align: center;
            }
        }
    }
}


/* The switch - the box around the slider */
.sheet-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.sheet-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sheet-slider {
  -webkit-transition: .4s;
  background-color: #ccc;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.sheet-slider:before {
  -webkit-transition: .4s;
  background-color: white;
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .sheet-slider {
  background-color: black;
}

input:focus + .sheet-slider {
  box-shadow: 0 0 1px black;
}

input:checked + .sheet-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}