// COLORS
//  ============================= *
    $primary  : hsl(355, 83%, 21%);
    $secondary  : hsl(72, 6%, 33%);
    $light  : hsl(42, 39%, 60%);
    $dark    : hsl(0, 6%, 0%);
    $dark-font: #000;
    $gray     : #4c4c4c;
    $transparentGray: hsla(0, 0%, 30%, 0.0784313725490196);
    $white    : hsl(0, 0%, 96%);


/* GLOBAL SETTINGS
    =============================  */
    @import 'src/scss/_globals';

/* HIDE DIFFERENT SHEET TYPES BY DEFAULT
   ============================= */ 
    div.sheet-npc,
    div.sheet-pc {
        display: none;
    }   

    input.sheet-type[value="npc"] ~  div.sheet-npc,
    input.sheet-type[value="character"] ~  div.sheet-pc {
        display: block;
    }   

/* GRID
   ============================= */ 
    div.sheet-grid {
        display: inline-grid;
        grid-column-gap: 1%;
        grid-row-gap: 0.5%;
    }

    %gridRowCol {
        display: inline-grid;
        overflow: hidden;
        grid-auto-rows: min-content;
        grid-column-gap: 1%;
    }

/* GENERIC CLASSES
    ============================= */
    @import 'src/scss/_generic';

    span.sheet-display {
        border-bottom: 2px dotted $dark;
        padding-top: 3%;
    }

    div.sheet-repeating-container {
        button { 
            font-variant: none; 
        }
    }

    div.sheet-header {
        margin-top: 2%;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        text-align: center;
        background: $light; /* Old browsers */
        background: -moz-linear-gradient(top,  $light 0%, $secondary 50%, $light 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $light 0%,$secondary 50%,$light 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $light 0%,$secondary 50%,$light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$light',GradientType=0 ); /* IE6-9 */
    }

/*  SWITCH
    ============================= */
    @import 'src/scss/_switch';

/* STYLED CHECKBOXES
    ============================= */
    @import 'src/scss/_checkbox';

/*  FOOTER
    ============================= */
    @import 'src/scss/_footer';

/* ROLL TEMPLATE STYLE
----------------------------- */
    @import 'src/scss/_rolltemplate';


/*  SHOW & HIDE SHEETS
    ============================= */
%displaynone {  display: none; }
%displayInlineGrid { display: inline-grid;}

$sheets: 'character', 'holdings', 'feast', 'npc', 'entourage';
@each $value in $sheets {
    div.sheet-#{$value} {
      @extend %displayInlineGrid;
    }

    input[name='attr_sheet_type']:not([value='#{$value}']) ~ div.sheet-#{$value} {
       @extend %displaynone;
    }
}

input[name='attr_sheet_type']:not([value='feast']) ~ div.sheet-tabs select[name='attr_feast_type'],
input[name='attr_sheet_type'][value='feast'] ~ div.sheet-tabs select[name='attr_character_type'] {
    @extend %displaynone;
 }

$types: 'knight', 'woman';
@each $value in $types {
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-character div.sheet-col,
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-holdings div.sheet-col,
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-entourage div.sheet-row {
        & div.sheet-row .sheet-#{$value},
        & div.sheet-personal-data div.sheet-row .sheet-#{$value},
        & div.sheet-personality-traits .sheet-#{$value},
        & div.sheet-personality-traits div.sheet-row .sheet-#{$value},
        & div.sheet-equipment-carried .sheet-#{$value},
        & div.sheet-skills .sheet-#{$value},
        & div.sheet-squire .sheet-#{$value},
        & .sheet-#{$value},
        & div.sheet-combat-skills .sheet-#{$value},
        & div.sheet-horse div.sheet-row .sheet-#{$value},
        & div.sheeet-family-history div.sheet-row,
        & .sheet-#{$value},
        & div.sheet-col .sheet-#{$value} {
            @extend %displaynone;
        }  
    }
}

$feasttypes: 'record', 'characters';
@each $value in $feasttypes {
    input[name='attr_feast_type']:not([value="#{$value}"]) ~ div.sheet-feast div.sheet-#{$value} {
        @extend %displaynone;
    }
}