// COLORS
//  ============================= *
    $primary  : hsl(355, 83%, 21%);
    $secondary  : hsl(72, 6%, 33%);
    $third  : hsl(42, 39%, 60%);
    $light  : hsl(51, 12%, 78%);
    $dark    : hsl(0, 0%, 20%);
    $dark-font: #000;
    $gray     : #4c4c4c;
    $transparentGray: hsla(0, 0%, 30%, 0.24);
    $white    : hsl(0, 0%, 96%);


/* GLOBAL SETTINGS
    =============================  */
    @import 'src/scss/_globals';

/* GRID
   ============================= */ 
    div.sheet-grid {
        display: inline-grid;
        grid-column-gap: 1%;
        grid-row-gap: 0.5%;
    }

    %gridRowCol {
        display: inline-grid;
        overflow: hidden;
        grid-auto-rows: min-content;
        grid-column-gap: 1%;
    }

/* GENERIC CLASSES
    ============================= */
    @import 'src/scss/_generic';

    span.sheet-display {
        border-bottom: 2px dotted $dark;
        padding-top: 3%;
    }

    input.sheet-toggles {
        position: relative;
        opacity: 0;
        width: 100%;
        z-index: 2;

        &:checked + span {
            color: $primary;
            margin-left: 5%;
        }
    }

    div.sheet-header {
        margin-top: 2%;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        text-align: center;
        background: $light; /* Old browsers */
        background: -moz-linear-gradient(top,  $light 0%, $secondary 50%, $light 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $light 0%,$secondary 50%,$light 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $light 0%,$secondary 50%,$light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$light',GradientType=0 ); /* IE6-9 */
    }

    .sheet-description {
        white-space: pre-line;
    }

    .sheet-background-color {
        background-color: $transparentGray;
    }

/*  PC
    ============================= */
div.sheet-pc {
    border: 0.8em solid $gray;
    background-color: hsl(27, 20%, 91%);
    padding: 2% 1%;

   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;

    div.sheet-navigation {
        grid-template-columns: 1fr minmax(auto, 100px) minmax(auto, 100px) minmax(auto, 100px);
        
        img {
            grid-area: 1 / 1 / 3 / 2;
            max-height: 8em;
        }

        label.sheet-pseudo-button {
            display: grid;

            input {
                min-height: 25px;
                max-height: 25px;
                position: relative;
                opacity: 0;
                width: 100%;
                z-index: 2;

                &, & + span {
                    grid-area: 1 / 1 / 1 / 1;
                }

                &:checked + span {
                    background-color: $light;
                    color: $dark;
                    margin-left: 5%;
                }
            }

            span {
                background-color: $primary;
                border-radius: 10%;
                border: 2px solid $primary;
                color: $white;
                cursor: pointer;
                display: inline-block;
                min-height: 25px;
                max-height: 25px;
                padding: 1% 3%;
                text-transform: capitalize;
                width: 80%;
            }
        }
    }

    div.sheet-info {
        margin-top: 2%;

        h1 {
            font-size: 1em;
            color: $dark;
        }

        div.sheet-names {
            grid-template-columns: auto 1fr auto 1fr 1.5em 1.5em
        }

        div.sheet-archetype {
            grid-template-columns: auto 1fr auto 3em auto 1fr;
        }

        div.sheet-collapse,
        div.sheet-settings {
            grid-column: 1 / 7;
        }

        input[name="attr_info_collapse"],
        input[name="attr_info_collapse"] + span.sheet-toggles {
          grid-area: 1 / 5 / 1 / 6;
          height: 100%;
        }


        input[name="attr_info_settings"],
        input[name="attr_info_settings"] + span.sheet-toggles {
          grid-area: 1 / 6 / 1 / 7;
          height: 100%;
        }

        span {
            line-height: 36px;
        }
    }

    div.sheet-characteristics {
        margin-top: 2%;

        div.sheet-border {
          border: 0.1em solid $dark;
          border-radius: 0.1em;
          font-size: 3em;
          grid-row-gap: 5%;
          grid-template-columns: 1fr 47%;
          min-height: 85px;
          text-align: center;

          div.sheet-score {
            grid-area: 1 / 1 / 3 / 3;
          }

          div.sheet-bonus {
            border-left: 0.1em dashed $dark;
            border-top: 0.1em dashed $dark;
            grid-area: 2 / 2 / 2 / 2;
            line-height: 1em;
            max-height: 30px;
            padding: 5% 2%;
            margin-bottom: -20%;

            span {
                display: block;
                font-size: 0.5em;
                margin-top: -25%;
            }
          }
        }

        input.sheet-toggles,
        span.sheet-toggles {
          grid-area: 1 / 10 / 1 / 10;
        }

        div.sheet-settings {
          grid-column: 1 / 11;
        }

        h1[data-i18n='characteristics'] {
          grid-column: 1 / 10;
        }

        h1[data-i18n='scores'],
        h1[data-i18n='unnatural bonus'] {
          grid-column: 1 / 11;
        }

        h2 {
            font-size: 1em;
        }

        h3 {
            font-size: 1em;
        }
    }

    div.sheet-skill-talents-traits {
        margin-top: 2%;

        div.sheet-headers {
            grid-template-columns: 70% 29%;
        }

        h2 {
            font-size: 1em;
        }

        div.sheet-skill-list {
            button[type='roll'] {
                text-align: left;
                width: 100%;
            }

            button.sheet-d20 {
                font-family: 'dicefontd20';
                text-align: center;
            }

            div.sheet-rowx {
                grid-template-columns: 65% 1fr 1fr 1fr 1fr;

                h2 {
                    display: inline-block;
                    &[data-i18n='trained'] { grid-column: 2;  }
                    &[data-i18n='10+'] { grid-column: 3; }
                    &[data-i18n='20+'] { grid-column: 4; }
                    &[data-i18n='30+'] { grid-column: 5; }
                }
            }

            div.sheet-repeating-container {
                button {
                    max-height: 25px;
                }

                div.sheet-rowx {
                    grid-template-columns: 9% 55% 1fr 1fr 1fr 1fr;
                }
            }
        }

        div.sheet-left-col {
            display: inline-block;
            margin-right: 2%;
            width: 35%;
        }

        div.sheet-right-col {
            display: inline-block;
            width: 25%;
        }

        div.sheet-repeating-container {
            div.sheet-collapse,
            div.sheet-settings {
                grid-column: 1 / 4;
            }
        }
    }

    div.sheet-advancement {
        div.sheet-left-col {
            display: inline-block;
            margin-right: 2%;
            width: 55%;

            div.sheet-headers {
                grid-template-columns: 1fr 15% 20% 1.5em 1.5em;
            }

            div.sheet-repeating-container {
                div.sheet-rowx {
                    grid-template-columns: 1fr 15% 20% 1.5em 1.5em;
                }

                textarea {
                    grid-column: 1 / 6;
                }

                input[name='attr_collapse'],
                input[name='attr_collapse'] + span {
                    grid-area: 1 / 4 / 1 / 4;
                }

                input[name='attr_settings'],
                input[name='attr_settings'] + span {
                    grid-area: 1 / 5 / 1 / 5;
                }

                label[data-i18n-title="alignment"] {
                    grid-column: 3 / 6;
                }

                div.sheet-collapse,
                div.sheet-settings {
                    grid-column: 1 / 6;
                }
            }
        }

        div.sheet-right-col {
            display: inline-block;
            width: 42%;

            div.sheet-headers {
                margin-top: 5%;
            }

            div.sheet-grid {
                grid-template-columns: auto 1fr;
            }

            div.sheet-calculatedXp {
                padding-top: 5%;
            }

            input[name="attr_current_alignment"] {
                text-align: center;
            }
        }
    }

    div.sheet-arms {
        margin-top: 2%;

        div.sheet-headers,
        div.sheet-repeating-container {
          margin-top: 5%;
        }

        div.sheet-left-col {
            display: inline-block;
            margin-right: 2%;
            width: 54%;

            div.sheet-repeating-container {
                div.sheet-collapse,
                div.sheet-settings {
                    grid-column: 1 / 4;
                }

                div.sheet-collapse {
                  h2 {
                    font-size: 1em;
                  }

                  span.sheet-text-center {
                    padding: 15% 2%;
                  }
                }

                div.sheet-settings {
                  h2 {
                    font-size: 1.1em;
                  }
                }
            }

            div.sheet-movement {
              h2 {
                font-size: 1em;
              }
            }

            div.sheet-psychic {
              grid-template-columns: 5fr auto 1fr;

              h2 {
                font-size: 1em;
                margin-top: 15%;
              }
            }
        }

        div.sheet-right-col {
            display: inline-block;
            width: 43%;

            h2 {
              font-size: 1.1em;
            }

            h3 {
              font-size: 1em;
            }

            div.sheet-head {
              div.sheet-col {
                grid-column: 2;
              }
            }

            div.sheet-center {
              margin-top: 2%;

              div.sheet-col:nth-of-type(1) {
                grid-column: 1;
              }

              div.sheet-col:nth-of-type(2) {
                grid-column: 2;
              }

              div.sheet-col:nth-of-type(3) {
                grid-column: 3;
              }
            }

            div.sheet-legs {
              margin-top: 2%;

              div.sheet-col:nth-of-type(1) {
                grid-column: 1;
              }

              div.sheet-col:nth-of-type(2) {
                grid-column: 3;
              }
            }

            div.sheet-repeating-container {
              div.sheet-settings {
                grid-column: 1 / 4;
              }
            }

            div.sheet-infamy {
              grid-template-columns: auto auto 1fr auto 1fr;

              h1 {
                font-size: 1.5em;
              }

              h2 {
                margin-top: 15%;
              }
            }

            div.sheet-corruption {
              grid-template-columns: auto auto 1fr;

              h1 {
                font-size: 1.5em;
              }

              h2 {
                margin-top: 15%;
              }
            }
        }
    }
}

/*  REPEATING SECTIONS
    ============================= */
    div.sheet-repeating-container {
        margin-bottom: 2%;

        button { 
            font-variant: none; 
        }

        textarea {
            margin-top: 2%;
        }

        .repcontrol {
            margin-top: 5%;
        }

        .repcontrol_del {
            font-family: "pictos";
            position: relative;
        }

        .repitem {
            margin-bottom: 1%;
        }

        div.sheet-collapse {
            padding-left: 5%;
        }

        div.sheet-settings {
            background-color: $light;
            grid-template-columns: 1fr;
            padding: 2% 1%;
        }

        div.sheet-descriptor {
            grid-template-columns: 1fr 1.5em 1.5em;

          input[name='attr_collapse'],
          input[name='attr_collapse'] + span {
              grid-area: 1 / 2 / 1 / 2;
          }

          input[name='attr_settings'],
          input[name='attr_settings'] + span {
              grid-area: 1 / 3 / 1 / 3;
          }
        }
    }


/*  SWITCH
    ============================= */
    @import 'src/scss/_switch';

/* STYLED CHECKBOXES
    ============================= */
    @import 'src/scss/_checkbox';

/*  FOOTER
    ============================= */
    @import 'src/scss/_footer';

/* ROLL TEMPLATE STYLE
----------------------------- */
    @import 'src/scss/_rolltemplate';

/*  SHOW & HIDE SHEETS
    ============================= */
    @import 'src/scss/_hide';