input(name='attr_version' type='hidden' value='1')

//- INCLUDES
	=============================
include src/pug/mixins.pug

//- VARIABLES
	=============================
- const characteristics = {'weapon skill':'(ws)', 'ballistic skill':'(bs)', 'strength':'(s)', 'toughness':'(t)', 'agility':'(ag)', 'intelligence':'(int)', 'perception': '(per)', 'willpower':'(wp)', 'fellowship':'(fel)', 'infamy':'(inf)'};
- const skillsLeft = {'acrobatics':'(ag)','athletics':'(s)','awareness':'(per)', 'charm':'(fel)', 'command':'(fel)', 'commerce':'(int)', 'common lore':'', 'deceive':'(fel)','dodge':'(ag)', 'forbidden lore':'(int)','inquiry':'(fel)','intimidate':'(wp)','linguistics':'(int)', 'logic':'(int)'};
- const skillsRight = {'medicae':'(int)','navigation (surface)':'(int)','navigation (stellar)':'(int)', 'navigation (warp)':'(int)', 'operate (aeronautica)': '(ag)', 'operate (voidship)': '(ag)', 'parry':'(ws)','psyniscience':'(per)', 'scholastic lore': '(int)','scrutiny':'(per)','security':'(int)', 'sleight of hand':'(ag)', 'stealth': '(ag)', 'tech-use': '(int)', 'tracking':'(int)', 'trade':'(int)'};
- const repeatingSkills = ['common lore', 'forbidden lore', 'linguistics', 'scholastic lore', 'trade'];

//- TABS
	=============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')

//- TABS & LOGO
	=============================
.tabs

//-NPC SHEET
	=============================
.npc
	.box.npc-flex
		p NPC STUFF
	.box.npc-flex
		p MORE NPC STUFF 

//-PC SHEET
	=============================
.pc
	.container.grid.info
		.row.grid.4autocolumn
			each val in ['character name', 'player name']
				h1(data-i18n=val)
				+textInput(val)
		.row.grid.archetype
			each val in ['archetype', 'rank', 'warband name']
				h1(data-i18n=val)
				+textInput(val)
		.row.grid.4autocolumn
			each val in ['pride', 'disgrace']
				h1(data-i18n=val)
				+textInput(val)
		each val in ['motivation', 'description']
			.row.grid.2autocolumn
					h1(data-i18n=val)
					+textInput(val)

	.container.grid.characteristics
		.row.text-center
			h1(data-i18n='characteristics')
		.row.grid.10column
			each val, key in characteristics
				.col.grid
					.row.text-center
						h2.small-caps(data-i18n=key)
					.row.text-center
						h3.small-caps(data-i18n=val)
		.row.grid.10column
			each val, key in characteristics
				.col
					+numberInput(key)

	.container.skill-talents-traits
		.row.grid.headers
			.col
				h1.text-center(data-i18n='skills')
			.col
				h1.text-center(data-i18n='talents & traits')
		.row.skill-list
			.col.left-col
				.row.grid
					each val in ['trained', '+10', '+20', '+30']
						h2(data-i18n=val)
				each val, key in skillsLeft
					+skillColumns(key, val)
			.col.left-col
				.row.grid
					each val in ['trained', '+10', '+20', '+30']
						h2(data-i18n=val)
				each val, key in skillsRight
					+skillColumns(key, val)
			.col.right-col


//- NOTES SHEET
	=============================
.notes

//-OPTIONS SHEET
	=============================
.options

//-FOOTER
	=============================
footer
	span Version 
	span(name='attr_version')

//-ROLL TEMPLATE
	=============================
.rolltemplates
	rolltemplate.sheet-rolltemplate-rolls
		// - Display a header on the template -
		.sheet-template-header
			| {{#header}}{{header}}{{/header}}
		// - Display the dice roll in the template -
		.sheet-template-body
			| {{#dice}}
			.sheet-template-row {{dice}}
			| {/dice}}
			// - Display a description. This is great for text included with a roll -
			| {{#desc}}
			.sheet-template-row
				span.sheet-template-desc
			| {{/desc}}

//- SCRIPTS
script(type="text/worker")
	include src/js/scripts.js

